$mainColor: #333333;

$background: #f5f5f5;
$contentBackground: #ffffff;
$textColor: #666666;
$accentColor: #333333;

$linkColor: #333333;
$linkHover: #666666;

$buttonColor: #f15123;
$buttonHover: darken($buttonColor, 5%);

$instagram: #9b6954;
$facebook: #3b5998;
$twitter: #00aced;
$youtube: #bb0000;
$pinterest: #cb2027;
$googleplus: #dd4b39;